@require 'nib'

global-reset()


ul.days
  width: 50%
  font-size: 2.5em
  color: #378
  margin: 0 auto
  clear: left
  li
    float: left
    width: 14%
    margin: 0 auto
    text-align: right

ul.dates
  width: 50%
  margin: 0 auto
  font-size: 1.9em
  clear:left
  li
    float: left
    width: 14%
    margin: 0 auto
    text-align: right
  li.active
    border: 2px solid #555;
